/* MIX */
/* Bootstrap correction for navbar collapse in md size */
@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}
/* Bootstrap correction for navbar collapse in md size */
.jumbotron {
  margin-bottom: 0px;
}

.fa-bars {
  color: #3a8aff;
}
body {
  min-height: 2000px;
  font-family: 'Roboto', sans-serif;
}
.debug {
  min-height: 100px;
  border: 1px solid red;
}
.p-top-30 {
  padding-top:30px
}
.p-top-50 {
  padding-top:50px
}
.p-top-100 {
  padding-top:100px
}
.m-top-10 {
  margin-top: 10px;
}
.m-top-30 {
  margin-top: 30px;
}
.m-top-50 {
  margin-top: 50px;
}


.m-top-100 {
  margin-top: 100px;
}
.p-bottom-30 {
  padding-bottom:30px
}
.p-bottom-50 {
  padding-bottom:50px
}
.p-bottom-100 {
  padding-bottom:100px
}
.m-bottom-10 {
  margin-bottom: 10px;
}
.m-bottom-30 {
  margin-bottom: 30px;
}
.m-bottom-50 {
  margin-bottom: 50px;
}
.m-bottom-100 {
  margin-bottom: 100px;
}
.m-left-60 {
  margin-left:60px;
}
.m-left-250 {
  margin-left:250px;
}
.btn_generic {
  margin-top: 10px;
  width: 100%;
  padding: 5px 0px;
}
.color-b {
  color: #006aff;
}
.color-grey {
  background-color: #f3f5f9;
}
.color-white {
  background-color: white;
}
/* MIX */

/* POP-UP */
.pop-up {
  position: fixed;
  bottom: 5%;
  right: 10%;

}
.pop-up img {
  border-radius: 20%;
}
.pop-up-inside {
  font-size: 20px;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius: 5px;
}
.pop-up-inside::after {
  content: "";
  width: 0px;
  height: 0px;
  border-top: 10px solid transparent ;
  border-bottom: 10px solid transparent ;
  border-left: 10px solid #ffffff ;
  border-right: 10px solid transparent;
  position: absolute;
  left: 100%;
  top: 80%;
}

/* NAVBAR */
.color-nav {
  background-color: #fff;
}

.navbar-center {
  padding-left: 150px;
}

@media screen and (max-width:992px) and (min-width:768px)  {
  .navbar-center {
    padding-left: 50px;
  }
}

.navbar-toggle {
  border: none;
}
.navbar-toggle:hover {
  background-color:#ebedf0 !important;
}
.navbar-inverse .navbar-nav > li > a {
  color: #000;
}
.navbar-inverse .navbar-nav > li > a:hover {
  color: #b3b6dc;
}
/* NAVBAR */

/* JUMBOBLUE */
.color-bluejumbo {
  background-color: #0064ff;
  background-image: url("https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
}
.color-w {
  background-color: white;
  border-radius: 2%;
}
@media screen and (max-width: 768px) {
  .q-width {
    width: 80%;
    margin: 65px;

  }
}
.btncolor {
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: #579aff;
  color: white;
  font-size: 13px;
}
.btn-google {
  background-image: url("https://news-cdn.softpedia.com/images/news2/the-new-google-logo-is-a-lesson-in-modern-design-490648-3.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left top;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  font-size: 13px;
}
/* JUMBOBLUE */

/* SECTION1 */

/* SECTION1 */

/* Ho provato ad allineare le img dando test a tutto ma poi il respnsive va a farsi benedire */
/* .test {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  padding-left: 20px;
} */
/* Ho provato ad allineare le img dando test a tutto ma poi il respnsive va a farsi benedire */


/* SECTION 2 */
.bord-list li {
  padding: 10px 10px;

  border-left: 1px solid black
}
/* SECTION 2 */

/* SECTION 2 */

/* CAROUSEL SECTION 3-5 */
[class*="col-"] .fa-circle {
  color: #1e7cfe;
  cursor: pointer;
}

.heightdef {
  position: relative;
}
.test::after {
  content: "<";
  position: absolute;
  top: 35%;
  right: 100%;
  font-size: 40px;
  font-weight: bolder;
  cursor: pointer;
  display: block;

}
.test::before {
  content: ">";
  position: absolute;
  top: 35%;
  left: 100%;
  font-size: 40px;
  font-weight: bolder;
  cursor: pointer;
  display: block;
}

@media screen and (max-width:768px) {
  .test::after {
    display: none;
  }
  .test::before {
    display: none;

  }
}

/* CAROUSEL SECTION 3-5 */

/* SECTION 4 */
.color-grad {
  background-image: linear-gradient(#0048c5, #001e99);
  color: white;
  height: 150%;
}
.bord-bot li:not(:last-child) {
  border-bottom: 1px solid white;
}
.left {
  float: left;
  width: 25%
}
.center {
  float: left;
  width: 50%
}
.right {
  float: left;
  width: 25%
}
/* SECTION 4 */


/* FOOTER */
.foot-color {
  background-color: #031c4e;
}
footer ul li {
  color: white;
}
footer p {
  color: #8b94a9;
}
footer .light {
  color: #5a6887;
}
[class*="fa-"] {
  color: #7a859d;
}
footer .foot-list li:not(:first-child) {
  color: #a6adbd
}
